body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-color: white/* Background color for the body */
}

.app-container {
  color: darkblue;
  display: flex;
  justify-content: space-between; /* Split into two parts */
  max-width: 1200px; /* Limit maximum width */
  margin: 20px auto; /* Center horizontally with margin */
}

.left-side {
  background-color:rgb(215, 237, 248) ;/* Background color for left side */
  flex: 1; /* Equal width for both sides */
  padding: 0px; /* Padding for content */
  border-radius: 10px; /* Rounded corners */
  width: 510px;
  height: 690px;
  
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Shadow effect */
}

.right-side {
  background-color: white; /* Background color for right side */
  flex: 1; /* Equal width for both sides */
  padding: 20px; /* Padding for content */
  border-radius: 10px; /* Rounded corners */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Shadow effect */
}

.task-form {
  width: 100%;
}

.task-list-container {
  width: 100%;
}
